*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #083b4c;
    overflow-y: auto;
}
main h1{
    font-size: 3rem;
    color: white;
}


div[class*='col-']{
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

.col-normale{
    background-color: #1389b2;
    color: white;
    
}

.col-fizz{
    background-color: #0cd6a1;
    
    
}
.col-buzz{
    background-color: #ffd166;
    
    
}
.col-fizz-buzz{
    background-color: #f0466f;
    
    
}